* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*::before,
*::after {
	margin: 0;
	padding: 0;
}

body {
	padding: 1em;
}

.buttons {
	display: flex;
	justify-content: end;
	gap: 0.5em;
	margin-block-start: 1em;
}
