.education {
	display: flex;
	flex-wrap: nowrap;
	padding-top: 0.5em;
	border-bottom: 3px solid black;
	padding-bottom: 0.5em;
}

.education h2 {
	min-width: 30%;
	margin-inline-end: 0.5em;
	text-align: center;
}

.educationEdit div {
	margin-bottom: 0.5em;
}

.educationEdit div select {
	margin-left: 0.25em;
}

.educationEdit {
	border-bottom: 3px solid black;
}

.educationEdit .deleteSchoolBtn {
	margin-bottom: 0.5em;
}

@media screen and (max-width: 700px) {
	.education {
		flex-direction: column;
		align-items: center;
	}
}
